.basic-layout {
  min-height: 100vh;
  background: #f1f1f1;
  .layout-content {
    margin: 0 auto;
    width: 1200px;
    min-height: 500px;
    &-wrapper {
      min-height: calc(100vh - 104px);
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
      overflow: hidden;
    }
  }
}

.header {
  margin-bottom: 20px;
  background: #fff;
  &-inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 25px;
      font-weight: 100;
    }

    .header-menu {
      line-height: 64px;
    }
  }
}