.basic-layout {
  min-height: 100vh;
  background: #f7f7f7;
  .layout-content {
    margin: 0 auto;
    width: 1200px;
    min-height: 500px;
    &-wrapper {
      min-height: calc(100vh - 104px);
      background: #fff;
      border-radius: .25rem;
      box-shadow: 0 1px 0 rgba(0,0,0,.25);
      overflow: hidden;
      border: 1px solid #ddd
    }
  }
}

.header {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  &-inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 25px;
      font-weight: 100;
    }

    .header-menu {
      line-height: 64px;
    }
  }
}